[core]
	autocrlf = input

[init]
    defaultBranch = main

[core]
    pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = zdiff3

[include]
    path = ~/.gitconfig.local
